a {
    color:darkgreen;
    text-decoration:none;
}

nav {
    background-color: gray;
    font-family: Lucida Console, Monaco, monospace;
    font-size:20px;
    overflow:hidden;
}
nav ul {
    padding:0;
    margin:0;
}
nav ul li {
    list-style-type:none;
    float:left;
    position:relative;
    padding:0;
    margin:0;
}
nav ul li a {
    display:block;
    color:#fff;
    padding:14px 16px;
    margin:0;
}
nav ul li a:hover {
    background-color:dimgrey;
    color:#fff;
    text-decoration:none;
    font-weight:normal;
}

/* CSS for Nav bar adapted from https://www.w3schools.com/bootstrap/bootstrap_navbar.asp and https://www.sitepoint.com/community/t/how-to-call-a-menu-file-with-php/242421 */
